h1{
    color: #9E1F19;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    color: #0033A0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
